
{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["mixin", "function", "include", "extend", "return", "if", "else", "each"]
    }],
    "selector-pseudo-element-colon-notation": [single, {
      "severity": "warning"
    }],
    "indentation": 4,
    "max-nesting-depth": [4, {
      "severity": "warning"
    }]
  }
}